@charset "UTF-8";
body{
    background-color: dodgerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    }
    h1{
        color: whitesmoke;
        background-color: rgba(112, 18, 18, 0.904);
    }
    h2{
        color: rgb(255, 255, 255);
        background-color: rgb(112, 18, 18);
    }
    p{
        text-align: justify;
    }
</style>